<h1>Courses</h1>

<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>Pages</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for course in object_list %}
    <tr>
    <td>{{ course.name }}</td>
    <td>{{ course.start_date }}</td>
    <td><a href="{% url "course_view" course.slug %}">view</a></td>
{#    <td><a href="{{ course.get_absolute_url }}">view</a></td>#}
    <td><a href="{% url "course_edit" course.slug %}">edit</a></td>
    <td><a href="{% url "course_delete" course.slug %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "course_new" %}">New</a>